* {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    margin: 0;
}

section {
    display: none;
}

.section-active {
    display: block;
}

.navbar {
    height: 60px;
    background-color: blue;
    width: 100%;
    position: fixed;
    top: 0;
}

.navlist {
    float: right;
}

.navlist li {
    display: inline-block;
}

.navlist li a {
    color: yellow;
    margin: 0 10px;
    text-decoration: none;
}

.navlist li a:hover {
    color: fuchsia;
    text-decoration: underline;
}

.tab-active {
    color: fuchsia !important;
}

.textcenter {
    text-align: center;
}

.welcome {
    background-image: url("images/naruto.jpg.webp");
    background-position: center;
    padding: 100px;
    background-size: cover;
    color: darkgreen;
}

.basic-section {
    padding: 30px 100px;
}

.abstände {
    width: 1100px;
}

.center {
    text-align: center;
}

.basic-section:nth-child(odd) {
    background-color: aquamarine;
    color: brown;
}

.form input {
    padding: 0px;
    border-radius: 45px;
    border: 1px solid;
    margin: 0 50px 0 0;
}

.btn {
    background-color: aquamarine;
    font-weight: 500;
}

.special-text {
    font-weight: bold;
}

.footer {
    padding: 40px 100px;
    letter-spacing: 6px;
    background-color: darkturquoise;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: red;
    text-decoration: none;
}
